{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Paws</title>
  </head>
  <body>
    <header>
      <nav class="nav-wrapper teal darken-4">
        <div>
              <a href="/" class="brand-logo logo">PAWS</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">Available Dogs</a></li>
            <li><a href="{% url 'dogs_create' %}">Add a Dog</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer teal darken-4">
      <div class="tagline">
        Making Ruff Days Better Since 2022
      </div>
    </footer>
  </body>
</html>