{% extends 'base.html' %} {% block content %}

<h1>All of Our Dogs</h1>

{% for dog in dogs %}
<div class="container">
<div class="row">
  <div class="card index" class = "col s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{dog.image}}" alt="dog">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{dog.name}}</span>
      <p><a href="{% url 'detail' dog.id %}">Learn more about {{dog.name}}</a></p>
    </div>
  </div>
</div>
</div>


{% endfor %} {% endblock %}